<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exit-Intent Modal</title>

    <link rel="stylesheet" href="modal.css" />
    <script defer src="modal.js"></script>
  </head>

  <body>
    <div class="exit-intent-popup">
      <form action="" class="mailing-list">
        <b>Want Appointment Confirmations & Special Offers?</b>
        <p>Join My Mailing List!</p>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter email here"
        />
        <input type="button" value="Submit" class="submit" />
        <span class="close">X</span>
      </form>
    </div>
  </body>
</html>
